body, section, div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.slider{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .slider-box{
        width: 1000px;
        height: 500px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

        .image-box{
            display: flex;
            align-items: center;
            border-radius: 10px;
            position: relative;
        }

            .image-box img{
                width: 900px;
                height: 450px;
                border-radius: 10px;
                box-shadow: 1px 4px 14px rgba(32, 31, 31, 0.623);
                margin: 0;
                animation: animate 300ms forwards;
            }

                .myarrowleft,
                .myarrowright{
                    z-index: 1;
                    font-size: 2.5em;
                    color: rgba(255, 255, 255, 0.733);
                    cursor: pointer;
                    transition: 300ms ease;
                }

                .myarrowleft{
                        transform: translate(70px, 0px);
                    }

                    .myarrowright{
                            transform: translate(-70px, 0px);
                        }

                        .myarrowleft:hover,
                        .myarrowright:hover{
                                color: #FFF;
                            }
.content{
    position: absolute;
    top: 380px;
    right: 100px;
}

    .content a{
        color: #FFF;
        border: 1px solid #FFF;
        padding: 8px 16px;
        border-radius: 4px;
        transition: 300ms ease;
    }

        .content:hover a{
            background-color: #FFF;
            color: rgb(29, 27, 27);
        }

@keyframes animate{
    0%{
        opacity: 0.5;
    }

    50%{
        opacity: 0.8;
    }

    100%{
        opacity: 1;
    }
}
